apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "odd-platform.fullname" . }}
  labels:
    {{- include "odd-platform.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "odd-platform.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "odd-platform.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "odd-platform.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            tcpSocket:
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if or (.Values.config).env .Values.secret_keys  }}
          env:
            {{- if or (.Values.config).env }}
            {{- toYaml .Values.config.env | nindent 12 }}
            {{- end }}
            {{- range .Values.secret_keys }}
            - name: {{ .}}
              valueFrom:
                secretKeyRef:
                  name: demo-secret
                  key: {{ . }}
            {{- end }}
          {{- end }}
          {{- if .Values.extra }}
          {{ toYaml .Values.extra | nindent 10 }}
          {{- end }}
          volumeMounts:
            {{- if (.Values.config).yaml }}
            - name: odd-platform-application-conf
              mountPath: /app/config/
            {{- end }}
      volumes:
        {{- if (.Values.config).yaml }}
        - name: odd-platform-application-conf
          configMap:
            name: {{ include "odd-platform.fullname" . }}-application-conf
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
